@page  "/Post/View/{Id:int}"
@inject HttpClient Http

@using Bookish.Client.Shared.Components

@if (Model != null)
{

    <div class="columns">
        <div class="column">
            <h1 class="title">@Model.Title</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <p>@Model.Body</p>
        </div>
    </div>


    <AuthorizeView>
        <Authorized>

            <div class="columns">
                <div class="column">
                    <button type="submit" class="oi-thumb-up" @onclick="@(() => Vote(1))">&#x1F44D;</button><p>@Model.Votes</p><button type="submit" class="oi-thumb-down" @onclick="@(() => Vote(-1))">&#x1F44E;</button>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <textarea class="textarea" @bind="@CommentBody"></textarea>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <button class="button is-success" @onclick="CreateComment">Add Comment</button>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>

    @foreach (CommentModel comment in Model.Comments)
    {
        <Comment_Component CommentModel="comment"></Comment_Component>
    }

}
