@page "/"

@if (Posts.Count() == 0 && !IsLoading)
{
    <div class="columns has-text-centered">
        <div class="column">
            <h3 class="title">Sorry, no posts available</h3>
        </div>
    </div>
}
else
{
    @foreach (PostListModel post in Posts)
    {
        <div class="columns post-item">
            <div class="column" @onclick="@(() => OpenPost(post))">
                <h3 class="is-size-4 is-bold">@post.Title</h3>
                <span>posted by anon on @post.Posted_At.ToString("MM/dd/yy") with @post.TotalComments Comments </span>
            </div>
            <AuthorizeView><Authorized><button type="submit" class="oi-thumb-up" @onclick="@(() => Vote(post, 1))">&#x1F44D;</button><p>@post.Votes</p><button type="submit" class="oi-thumb-down" @onclick="@(() => Vote(post, -1))">&#x1F44E;</button></Authorized></AuthorizeView>
        </div>
    }

    <div class="columns">
        <div class="column has-text-centered">
            <button class="button is-success" @onclick="LoadNextPage" disabled="@IsEmpty">
                Load Next Page
            </button>
        </div>
    </div>
}
